In [9]:
import pandas as pd
from dataloader import TextLoader
pd.set_option('display.max_colwidth', None)

In [7]:
train = pd.read_pickle("../../data/interim/cv_train.pickle");

#print(train.loc[train['content_id'] == 4696])

train.head(100)

            row_id   timestamp     user_id  content_id  content_type_id  \
90        22643642      460495   486769105        4696                0
123       13342452      413890   288535534        4696                0
185       72464904      511306  1542156377        4696                0
190        4067943      775826    86795177        4696                0
257       26200317      427314   560452050        4696                0
...            ...         ...         ...         ...              ...
98696755  22720545      518678   488004502        4696                0
98697212   4463848      442895    94488031        4696                0
98698067  81716921      539163  1739122369        4696                0
98698205  42736089  1077524738   906037109        4696                0
98699498  54251968  7481270660  1150146439        4696                0

          task_container_id  user_answer  answered_correctly  \
90                       10            0                   1
123                      10            0                   1
185                      10            3                   0
190                      10            1                   0
257                      10            3                   0
...                     ...          ...                 ...
98696755                 10            0                   1
98697212                 10            0                   1
98698067                 10            0                   1
98698205                 85            0                   1
98699498                 46            0                   1

          prior_question_elapsed_time  prior_question_had_explanation  \
90                            14000.0                           False
123                           18000.0                           False
185                           23000.0                           False
190                           60000.0                           False
257                           22000.0                           False
...                               ...                             ...
98696755                       7000.0                           False
98697212                      24000.0                           False
98698067                      17000.0                           False
98698205                      33000.0                           False
98699498                      21000.0                           False

          viretual_time_stamp
90                    1009854
123                   1213968
185                   1591544
190                   1637201
257                   2256416
...                       ...
98696755          82213663529
98697212          82214068075
98698067          82214901724
98698205          82215054537
98699498          82216755027

[165495 rows x 11 columns]

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,viretual_time_stamp
0,32933156,0,705741139,128,0,0,0,1,NaN,<NA>,0
1,32933157,20666,705741139,7860,0,1,0,1,16000.0,False,20666
2,32933158,39172,705741139,7922,0,2,1,1,19000.0,False,39172
3,32933159,58207,705741139,156,0,3,2,1,17000.0,False,58207
4,32933160,75779,705741139,51,0,4,0,1,17000.0,False,75779
...,...,...,...,...,...,...,...,...,...,...,...
95,17668819,408502,379588562,1335,0,16,3,0,18000.0,True,1060097
96,22643644,511949,486769105,6173,0,12,1,0,8000.0,False,1061308
97,13342444,263325,288535534,2948,0,6,3,0,21000.0,False,1063403
98,13342445,263325,288535534,2946,0,6,3,1,21000.0,False,1063403
99,13342446,263325,288535534,2947,0,6,1,1,21000.0,False,1063403

In [3]:
del train["prior_question_had_explanation"]
del train["prior_question_elapsed_time"]
del train["viretual_time_stamp"]

train = train[train.content_type_id == False]
del train["content_type_id"]
del train["row_id"]

last_timestamp = train.groupby("user_id")[["timestamp","user_id"]].tail(1).set_index("user_id", drop=True)["timestamp"].to_dict()
train.reset_index(drop=True, inplace=True) #Resetting the index frees memory



train["timestamp"] = train.groupby("user_id")["timestamp"].diff().fillna(0)/1000
train["timestamp"] = train.timestamp.astype("int32")

boundaries = [120,600,1800,3600,10800,43200,86400,259200,604800]
x = train.timestamp.copy()

for i, boundary in enumerate(boundaries):
    
    if i == 0:
        start = 60
    else:
        start = boundaries[i-1]
        
    end = boundary
    
    train.loc[(x >= start) & (x < end), "timestamp"] = i+60
    
train.loc[x >= end, "timestamp"] = i+60+1

del x
train["timestamp"] = train["timestamp"].astype("int8")

train.head()

,timestamp,user_id,content_id,task_container_id,user_answer,answered_correctly
0,0,705741139,128,0,0,1
1,20,705741139,7860,1,0,1
2,18,705741139,7922,2,1,1
3,19,705741139,156,3,2,1
4,17,705741139,51,4,0,1

### Data Explanation

<p>user_id</p>(<br />
&nbsp;&nbsp;<b>[content_id]:</b> ID code for the user interaction<br />
&nbsp;&nbsp;<b>[answered_correctly]:</b> If the user responded correctly. Read -1 as null, for lecture<br />
&nbsp;&nbsp;<b>[timestamp]:</b> The difference of time between every two questions in seconds<br />
&nbsp;&nbsp;<b>[user_answer]:</b> The user's answer to the question, if any. Read -1 as null, for lectures.<br />
)

In [4]:
valid = pd.read_pickle("data/processed/validation.pickle")

valid.head()

user_id
1868605503    ([5612, 4259, 9261, 325, 296, 1314, 306, 1018, 444, 9261, 5612, 648, 33, 118, 51, 10590, 7898, 7914, 7875, 10527, 7912, 11, 183, 10657, 7, 7869, 7970, 8494, 8197, 4718, 9913, 4002, 5158, 4021, 8978, 9260, 6423, 5259, 9571, 9289, 5327, 6409, 8940, 4528, 8472, 4484, 8735, 4534, 5357, 3858, 8508, 6246, 6438, 5218, 4528, 5218, 9182, 3939, 3852, 6018, 9028, 5324, 5590, 4762, 8957, 4217, 5507, 5507, 4484, 4772, 9966, 5911, 4148, 5214, 5765, 6365, 4207, 3927, 8794, 5615, 4566, 3878, 8788, 3781, 6181, 4704, 9753, 4114, 4217, 5341, 6669, 8358, 4700, 5674, 5993, 8542, 4812, 4224, 5111, 8770], [0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1], [0, 27, 16, 28, 19, 22, 34, 62, 41, 63, 34, 35, 64, 31, 29, 25, 60, 60, 27, 29, 28, 36, 30, 40, 40, 41, 31, 62, 60, 61, 61, 60, 56, 60, 60, 60, 39, 64, 60, 60, 60, 60, 60, 60, 60, 60, 60, 51, 60, 54, 46, 56, 60, 65, 37, 50, 60, 50, 60, 60, 52, 54, 60, 46, 53, 60, 62, 62, 40, 65, 65, 53, 40, 43, 35, 60, 42, 39, 61, 60, 51, 44, 60, 59, 60, 60, 43, 60, 65, 61, 60, 60, 60, 60, 44, 60, 44, 42, 41, 60], [3, 2, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 2, 0, 3, 2, 2, 3, 3, 1, 3, 2, 1, 0, 2, 0, 1, 2, 3, 1, 0, 2, 3, 3, 0, 1, 0, 1, 0, 2, 0, 1, 1, 1, 1, 0, 1, 0, 3, 2, 2, 3, 0, 0, 3, 2, 3, 1, 0, 3, 3, 0, 1, 0, 2, 0, 2, 3, 1, 2, 1, 3, 3, 1, 1, 0, 1, 1, 2, 1, 0, 1, 3, 0, 1, 0, 1, 1, 3, 0, 3, 1, 3, 2, 0, 0, 0, 3, 0])
1923355638                          ([5702, 960, 3613, 5455, 4748, 3577, 5738, 4254, 4706, 9715, 6199, 6, 7942, 7901, 10530, 52, 149, 114, 5007, 5284, 3727, 9800, 4966, 1291, 1359, 1239, 824, 795, 10684, 773, 4070, 4975, 665, 4463, 9852, 6668, 787, 10686, 683, 762, 688, 10687, 446, 554, 215, 294, 1192, 967, 1350, 10685, 972, 951, 876, 10688, 438, 587, 506, 421, 1223, 757, 4291, 853, 1296, 999, 675, 423, 1194, 904, 901, 258, 766, 5273, 8391, 6120, 5616, 9283, 9363, 4458, 3966, 5350, 9517, 5197, 6381, 6444, 9094, 6091, 5954, 5177, 9206, 3903, 5596, 5651, 8303, 5504, 5339, 739, 1315, 691, 199, 834], [1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0], [0, 22, 28, 24, 23, 15, 26, 26, 16, 25, 17, 69, 35, 28, 21, 26, 28, 21, 40, 24, 20, 20, 12, 69, 28, 69, 37, 24, 37, 31, 60, 48, 31, 18, 20, 32, 60, 25, 22, 28, 60, 19, 18, 25, 25, 21, 19, 24, 21, 23, 65, 23, 37, 25, 27, 31, 29, 34, 43, 49, 65, 66, 38, 30, 34, 28, 27, 28, 32, 42, 28, 60, 18, 43, 33, 37, 35, 22, 48, 48, 26, 27, 36, 26, 25, 67, 25, 36, 46, 19, 25, 21, 15, 23, 30, 47, 26, 28, 24, 27], [1, 1, 0, 1, 0, 0, 0, 2, 2, 0, 1, 3, 2, 0, 0, 3, 3, 0, 0, 1, 2, 3, 3, 3, 0, 0, 0, 1, 3, 0, 1, 2, 0, 1, 0, 1, 3, 0, 0, 1, 1, 1, 1, 3, 3, 3, 0, 1, 1, 0, 0, 1, 3, 0, 3, 3, 3, 1, 0, 0, 3, 1, 0, 1, 3, 1, 3, 3, 3, 1, 3, 3, 2, 0, 1, 1, 2, 1, 1, 2, 3, 0, 0, 0, 1, 1, 3, 1, 3, 0, 1, 2, 1, 3, 2, 0, 1, 3, 3, 0])
1325923565                                  ([7900, 7876, 175, 1278, 2065, 2064, 2063, 3363, 3365, 3364, 2947, 2946, 2948, 2593, 2594, 2595, 4492, 4120, 4696, 6116, 6173, 6370, 6911, 6910, 6909, 6908, 7218, 7217, 7219, 7216, 615, 1078, 460, 10686, 236, 943, 829, 10685, 389, 209, 5085, 613, 10687, 398, 420, 608, 10684, 324, 481, 980, 10688, 6117, 5674, 9983, 5710, 1110, 5818, 5610, 1395, 9586, 217, 294, 306, 378, 400, 1220, 383, 1095, 1242, 404, 511, 982, 881, 1300, 361, 1170, 1216, 381, 5581, 4664, 3871, 9037, 5190, 4470, 9720, 1388, 1303, 1314, 551, 1303, 551, 726, 753, 1257, 543, 962, 214, 9455, 3615, 6442], [1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1], [0, 24, 26, 29, 60, 0, 0, 60, 0, 0, 60, 0, 0, 61, 0, 0, 56, 38, 24, 11, 60, 42, 61, 0, 0, 0, 61, 0, 0, 0, 69, 28, 24, 30, 37, 32, 39, 36, 51, 50, 61, 69, 43, 40, 38, 42, 60, 48, 58, 37, 45, 65, 60, 60, 67, 66, 67, 61, 68, 67, 68, 41, 47, 48, 41, 49, 58, 66, 66, 40, 32, 32, 40, 46, 45, 46, 47, 42, 60, 35, 60, 34, 54, 60, 66, 66, 31, 43, 44, 45, 27, 24, 30, 35, 32, 32, 41, 60, 60, 60], [0, 0, 2, 3, 1, 2, 1, 1, 1, 1, 0, 0, 0, 2, 3, 0, 0, 2, 2, 0, 3, 0, 3, 0, 0, 1, 2, 2, 0, 2, 3, 0, 0, 1, 3, 1, 1, 0, 3, 1, 2, 0, 1, 1, 1, 1, 0, 0, 0, 3, 1, 2, 2, 3, 1, 0, 1, 1, 0, 2, 0, 3, 1, 0, 1, 0, 0, 0, 0, 0, 3, 1, 3, 0, 1, 0, 3, 1, 2, 3, 3, 1, 3, 1, 1, 3, 0, 1, 1, 1, 0, 1, 1, 1, 3, 3, 1, 2, 3, 1])
163729586                            ([3978, 4761, 5498, 218, 387, 9712, 855, 51, 7898, 125, 10629, 166, 14, 7901, 10523, 149, 7917, 7981, 10423, 8, 7944, 99, 10637, 76, 2, 112, 10468, 163, 120, 7872, 10521, 7967, 8, 7967, 179, 91, 10652, 187, 7948, 177, 10462, 7863, 7881, 93, 10590, 142, 7865, 7956, 10440, 7973, 7955, 1932, 1931, 1933, 5255, 4370, 3726, 9765, 4992, 3628, 6318, 8683, 817, 355, 505, 10688, 1061, 636, 305, 10686, 493, 1104, 1236, 10687, 420, 1722, 1721, 1723, 1451, 1452, 1453, 7852, 10427, 67, 7886, 156, 10457, 155, 7885, 124, 10473, 165, 7970, 127, 10556, 7897, 7860, 7890, 10515, 7962], [1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1], [0, 30, 18, 19, 20, 31, 16, 61, 30, 38, 36, 27, 26, 30, 26, 26, 27, 28, 14, 15, 27, 21, 17, 28, 18, 26, 25, 26, 24, 21, 26, 22, 47, 24, 24, 13, 25, 28, 22, 42, 60, 60, 18, 24, 19, 26, 17, 25, 16, 29, 29, 61, 0, 0, 48, 12, 15, 31, 14, 13, 60, 23, 53, 21, 22, 18, 21, 21, 21, 22, 20, 20, 40, 40, 22, 61, 0, 0, 61, 0, 0, 66, 31, 27, 28, 23, 25, 14, 17, 29, 24, 26, 24, 19, 23, 25, 16, 24, 13, 21], [2, 3, 3, 3, 3, 1, 0, 0, 2, 1, 1, 1, 2, 0, 1, 0, 2, 3, 1, 1, 0, 3, 0, 3, 0, 2, 1, 0, 3, 3, 0, 3, 3, 2, 0, 1, 2, 3, 0, 2, 2, 0, 0, 3, 3, 3, 0, 0, 0, 3, 3, 1, 0, 3, 1, 1, 0, 2, 2, 2, 0, 3, 1, 1, 0, 3, 3, 0, 3, 3, 1, 3, 0, 1, 1, 2, 2, 1, 1, 2, 2, 3, 0, 0, 0, 2, 1, 1, 1, 1, 0, 3, 3, 0, 1, 3, 0, 3, 1, 3])
1979085722        ([3798, 3955, 6372, 3893, 6143, 6445, 4264, 4763, 5602, 4423, 9916, 4501, 6450, 5278, 8843, 6306, 4994, 3955, 4994, 3893, 9916, 5278, 6306, 4501, 6445, 6450, 4423, 6372, 6143, 4264, 5602, 8843, 3798, 4763, 5610, 8865, 6663, 4416, 4152, 8761, 4405, 3599, 9275, 8172, 355, 535, 554, 10686, 1042, 312, 330, 10687, 633, 1374, 6450, 4423, 4405, 6450, 5602, 535, 6143, 9916, 8761, 4152, 3599, 4423, 10687, 4416, 6306, 3955, 633, 9275, 4994, 4763, 6445, 554, 1374, 10686, 5278, 355, 3893, 5610, 6663, 6372, 1042, 8843, 3798, 8865, 330, 8172, 4264, 312, 4501, 3923, 5165, 5616, 9776, 5250, 3990, 5266], [1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0], [0, 22, 17, 25, 28, 26, 21, 60, 30, 41, 43, 20, 16, 61, 29, 19, 25, 68, 10, 15, 31, 8, 16, 8, 13, 19, 19, 19, 32, 14, 15, 26, 30, 15, 60, 39, 21, 10, 33, 30, 37, 36, 43, 39, 60, 14, 24, 23, 18, 25, 32, 14, 21, 23, 60, 17, 60, 7, 13, 14, 21, 16, 25, 19, 26, 22, 29, 16, 10, 8, 14, 14, 7, 13, 17, 49, 41, 20, 7, 34, 25, 14, 12, 29, 20, 9, 7, 29, 28, 9, 11, 20, 10, 66, 11, 17, 26, 18, 60, 60], [2, 3, 3, 0, 1, 3, 1, 3, 1, 2, 2, 0, 3, 0, 2, 2, 1, 0, 1, 0, 2, 0, 2, 0, 1, 1, 3, 0, 1, 2, 1, 1, 2, 3, 0, 2, 3, 1, 2, 0, 1, 3, 2, 0, 0, 1, 0, 0, 0, 1, 3, 1, 1, 3, 0, 3, 1, 0, 1, 1, 0, 2, 2, 2, 1, 3, 1, 1, 2, 3, 1, 3, 1, 3, 3, 0, 3, 0, 0, 1, 2, 0, 0, 2, 0, 0, 2, 0, 3, 3, 1, 3, 1, 0, 0, 0, 3, 2, 1, 0])
dtype: object

In [12]:
questions = pd.read_csv("../../data/raw/questions.csv")

part_valus = questions.part.values

questions.head()

   question_id  bundle_id  correct_answer  part            tags
0            0          0               0     1   51 131 162 38
1            1          1               1     1       131 36 81
2            2          2               0     1  131 101 162 92
3            3          3               0     1  131 149 162 29
4            4          4               3     1    131 5 162 38

In [9]:
val_group = pd.read_pickle("../../data/processed/validation.pickle")

valset = TextLoader(val_group)

valset.__getitem__(0)

(tensor([ 5612,  4259,  9261,   325,   296,  1314,   306,  1018,   444,  9261,
          5612,   648,    33,   118,    51, 10590,  7898,  7914,  7875, 10527,
          7912,    11,   183, 10657,     7,  7869,  7970,  8494,  8197,  4718,
          9913,  4002,  5158,  4021,  8978,  9260,  6423,  5259,  9571,  9289,
          5327,  6409,  8940,  4528,  8472,  4484,  8735,  4534,  5357,  3858,
          8508,  6246,  6438,  5218,  4528,  5218,  9182,  3939,  3852,  6018,
          9028,  5324,  5590,  4762,  8957,  4217,  5507,  5507,  4484,  4772,
          9966,  5911,  4148,  5214,  5765,  6365,  4207,  3927,  8794,  5615,
          4566,  3878,  8788,  3781,  6181,  4704,  9753,  4114,  4217,  5341,
          6669,  8358,  4700,  5674,  5993,  8542,  4812,  4224,  5111,  8770]),
 tensor([0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
         1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1,
         0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1,
         1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0,
         1, 1, 1, 1]),
 tensor([ 0, 27, 16, 28, 19, 22, 34, 62, 41, 63, 34, 35, 64, 31, 29, 25, 60, 60,
         27, 29, 28, 36, 30, 40, 40, 41, 31, 62, 60, 61, 61, 60, 56, 60, 60, 60,
         39, 64, 60, 60, 60, 60, 60, 60, 60, 60, 60, 51, 60, 54, 46, 56, 60, 65,
         37, 50, 60, 50, 60, 60, 52, 54, 60, 46, 53, 60, 62, 62, 40, 65, 65, 53,
         40, 43, 35, 60, 42, 39, 61, 60, 51, 44, 60, 59, 60, 60, 43, 60, 65, 61,
         60, 60, 60, 60, 44, 60, 44, 42, 41, 60]),
 tensor([3, 2, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 2, 0, 3, 2, 2, 3, 3, 1, 3, 2, 1,
         0, 2, 0, 1, 2, 3, 1, 0, 2, 3, 3, 0, 1, 0, 1, 0, 2, 0, 1, 1, 1, 1, 0, 1,
         0, 3, 2, 2, 3, 0, 0, 3, 2, 3, 1, 0, 3, 3, 0, 1, 0, 2, 0, 2, 3, 1, 2, 1,
         3, 3, 1, 1, 0, 1, 1, 2, 1, 0, 1, 3, 0, 1, 0, 1, 1, 3, 0, 3, 1, 3, 2, 0,
         0, 0, 3, 0]))

In [14]:
part_valus

array([1, 1, 1, ..., 5, 5, 5])

In [15]:
unique_ques = len(questions)

unique_ques

13523

In [10]:
group = pd.read_pickle("../../data/processed/inference_group")

group.head()

user_id
115                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ([5692, 5716, 128, 7860, 7922, 156, 51, 50, 7896, 7863, 152, 104, 108, 7900, 7901, 7971, 25, 183, 7926, 7927, 4, 7984, 45, 185, 55, 7876, 6, 172, 7898, 175, 100, 7859, 57, 7948, 151, 167, 7897, 7882, 7962, 1278, 2065, 2064, 2063, 3363, 3365, 3364], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1], [0, 56, 60, 12, 6, 19, 19, 18, 18, 18, 24, 24, 22, 25, 24, 23, 21, 19, 19, 31, 21, 20, 23, 23, 17, 22, 23, 23, 25, 22, 17, 22, 61, 32, 31, 36, 38, 55, 53, 69, 60, 0, 0, 60, 0, 0], [3, 2, 0, 0, 1, 2, 0, 3, 2, 0, 2, 1, 1, 0, 1, 2, 1, 0, 1, 3, 1, 3, 2, 3, 3, 3, 2, 1, 2, 0, 0, 3, 0, 0, 3, 2, 3, 2, 3, 3, 2, 1, 3, 1, 0, 1])
124                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ([7900, 7876, 175, 1278, 2064, 2063, 2065, 3364, 3365, 3363, 2948, 2947, 2946, 2595, 2593, 2594, 4492, 4120, 4696, 6116, 6173, 6370, 6909, 6910, 6908, 6911, 7218, 7216, 7217, 7219], [1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0], [0, 32, 29, 21, 60, 0, 0, 60, 0, 0, 60, 0, 0, 52, 0, 0, 36, 26, 29, 16, 20, 10, 30, 0, 0, 0, 16, 0, 0, 0], [0, 0, 2, 1, 2, 3, 2, 2, 3, 0, 2, 1, 1, 0, 0, 3, 3, 2, 3, 3, 1, 3, 0, 1, 2, 2, 3, 0, 3, 1])
2746                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               ([5273, 758, 5976, 236, 404, 382, 405, 873, 531, 775, 294, 714, 297, 297, 775, 1295, 10684, 1014, 484], [0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1], [0, 21, 27, 23, 19, 19, 22, 60, 49, 44, 28, 26, 44, 61, 29, 31, 26, 38, 35], [1, 0, 3, 3, 3, 0, 1, 3, 0, 3, 3, 3, 0, 3, 3, 3, 0, 0, 0])
5382    ([5000, 3944, 217, 5844, 5965, 4990, 5235, 6050, 5721, 5580, 6039, 7934, 7945, 18, 10626, 64, 185, 7979, 10612, 130, 118, 7945, 7965, 5563, 6673, 3859, 9778, 3644, 4640, 6155, 9636, 4030, 6318, 4470, 7999, 4418, 4318, 5861, 9462, 5687, 6081, 3978, 8417, 8219, 5104, 4411, 8807, 3878, 5581, 4849, 270, 877, 565, 10684, 949, 886, 577, 10685, 1266, 1366, 1176, 10688, 329, 1229, 615, 8954, 4236, 5199, 8487, 8830, 10686, 796, 401, 1181, 294, 438, 1334, 209, 10687, 996, 901, 261, 446, 379, 828, 451, 6438, 5339, 5412, 9179, 5165, 4108, 4848, 5239, 3961, 5253, 3759, 8700, 4141, 4244, ...], [1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, ...], [0, 39, 60, 21, 15, 8, 60, 60, 18, 60, 60, 64, 61, 61, 54, 60, 60, 57, 42, 37, 40, 64, 62, 65, 61, 61, 61, 61, 61, 61, 65, 61, 61, 62, 66, 66, 61, 61, 61, 61, 62, 65, 65, 61, 61, 61, 61, 62, 62, 61, 64, 60, 60, 61, 61, 61, 61, 61, 60, 61, 60, 60, 60, 61, 60, 66, 60, 61, 61, 61, 64, 60, 60, 60, 52, 56, 60, 60, 60, 60, 60, 58, 60, 61, 61, 60, 61, 61, 61, 61, 60, 61, 61, 61, 61, 61, 61, 61, 61, 61, ...], [0, 1, 0, 1, 2, 3, 0, 3, 1, 3, 1, 3, 1, 1, 2, 0, 0, 1, 0, 3, 0, 1, 1, 2, 3, 0, 2, 1, 1, 2, 0, 3, 3, 1, 1, 3, 1, 2, 1, 3, 0, 2, 1, 2, 3, 1, 3, 1, 2, 3, 3, 0, 0, 3, 0, 0, 3, 0, 3, 0, 1, 0, 0, 0, 3, 0, 0, 1, 0, 0, 0, 0, 3, 1, 3, 3, 1, 3, 1, 0, 1, 1, 1, 0, 3, 3, 3, 0, 2, 0, 2, 0, 3, 1, 0, 3, 1, 0, 0, 1, ...])
8623                 ([3915, 4750, 6456, 3968, 6104, 5738, 6435, 5498, 6102, 4078, 4536, 1291, 1131, 1145, 10686, 405, 6058, 4519, 5216, 8712, 5791, 6119, 3903, 8172, 5615, 6136, 1071, 731, 10687, 651, 335, 763, 294, 1265, 675, 1202, 10684, 556, 757, 1093, 10688, 675, 651, 7747, 7748, 7745, 7744, 7746, 7193, 7190, 7192, 7194, 7191, 7425, 7424, 7422, 7421, 7423, 39, 130, 7942, 10618, 64, 61, 18, 10595, 7964, 7913, 194, 10405, 7974, 130, 7965, 7920, 10440, 7934, 9, 3636, 9192, 5350, 3965, 3647, 11415, 5038, 3878, 4464, 11331, 762, 773, 1315, 10685, 831, 1296, 1369, 644, 660, 587, 763, 587, 999, ...], [1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, ...], [0, 38, 34, 43, 38, 33, 32, 18, 22, 17, 41, 66, 54, 43, 40, 60, 67, 29, 63, 63, 62, 62, 62, 64, 64, 37, 49, 60, 60, 41, 47, 60, 61, 45, 60, 60, 41, 64, 44, 60, 47, 45, 23, 67, 0, 0, 0, 0, 65, 0, 0, 0, 0, 65, 0, 0, 0, 0, 66, 36, 42, 33, 48, 47, 45, 34, 60, 47, 29, 32, 36, 61, 39, 61, 21, 39, 40, 60, 30, 60, 34, 32, 60, 67, 36, 27, 50, 60, 44, 53, 37, 23, 26, 38, 48, 28, 42, 57, 18, 68, ...], [3, 1, 2, 2, 1, 2, 2, 0, 0, 0, 3, 0, 1, 3, 0, 0, 1, 0, 2, 0, 3, 2, 2, 1, 3, 3, 1, 1, 1, 1, 0, 3, 3, 0, 0, 1, 0, 1, 3, 3, 1, 3, 3, 2, 1, 2, 3, 0, 0, 0, 1, 2, 1, 3, 2, 1, 0, 0, 3, 1, 0, 3, 1, 1, 1, 2, 2, 3, 3, 2, 1, 3, 0, 3, 0, 3, 1, 1, 0, 0, 0, 0, 2, 0, 0, 0, 1, 3, 1, 3, 0, 1, 0, 3, 1, 3, 3, 0, 1, 3, ...])
dtype: object

In [16]:
group.shape

(378382,)